// mask 背景色
maskBkgColor = rgba(0,0,0,0.4)
boxBorderRadius = 10px
/* 全局颜色 */

// mask 背景色
maskBgColor = rgba(0,0,0,0.4)
// alpha 深橘色
darkBaseColor = #ed6c00
// alpha 轻橘色
lightBaseColor = #fdba78
// alpha 橘色
baseColor = #fa8919
//
darkBlackText = #333
// 文字主色
blackText = #4a4a4a
// 文字辅助色
grayText = #737373
// 轻文字辅助色
lightGrayText = #a9a9a9
// 轻分割线颜色
lightBorder = #f0f0f0
// 重分割线颜色
darkBorder = #cfc7c1
// 灰色按钮颜色
lightBtnColor = #cdc9c5

// 轻背景色
lightBkg = #f8f8f9

// 错误警告色
errorColor = #f72b44
//下划线颜色
underlineColor = #f0f0f0
