// animation from animate.css
// https://daneden.github.io/animate.css/
.bubble-enter-active{
  animation-duration: 0.5s;
  animation-fill-mode: both;
  animation-name: swing;
  transform-origin: top center;
}
@keyframes swing {
  20% {
    -webkit-transform: rotate3d(0, 0, 1, 15deg);
    transform: rotate3d(0, 0, 1, 15deg);
  }

  40% {
    -webkit-transform: rotate3d(0, 0, 1, -10deg);
    transform: rotate3d(0, 0, 1, -10deg);
  }

  60% {
    -webkit-transform: rotate3d(0, 0, 1, 5deg);
    transform: rotate3d(0, 0, 1, 5deg);
  }

  80% {
    -webkit-transform: rotate3d(0, 0, 1, -5deg);
    transform: rotate3d(0, 0, 1, -5deg);
  }

  to {
    -webkit-transform: rotate3d(0, 0, 1, 0deg);
    transform: rotate3d(0, 0, 1, 0deg);
  }
}

.bounceIn-enter-active{
  animation-duration: 0.4s;
  animation-fill-mode: both;
  animation-name: bounceIn;
  transform-origin: center bottom;
}
@keyframes bounceIn {
  from, 20%, 40%, 60%, 80%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    transform: scale3d(.3, .3, .3);
  }

  30% {
    transform: scale3d(1.1, 1.1, 1.1);
  }

  60% {
    opacity: 1;
    transform: scale3d(.97, .97, .97);
  }

  to {
    opacity: 1;
    transform: scale3d(1, 1, 1);
  }
}

@keyframes msgBlink {
  from {
    background: #fff;
  }

  45% {
    background: #fdba78;
  }

  to {
    opacity: 1;
    background: #fff;
  }
}

.fadeInRight-enter-active{
  animation-duration: 0.3s;
  animation-fill-mode: both;
  animation-name: fadeInRight;
}
.fadeInRight-leave-active{
  animation-duration: 0.3s;
  animation-fill-mode: both;
  animation-name: fadeOutLeft;
}

.slide-in-down-enter-active, .slide-in-down-leave-active{
  transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out;
}
.slide-in-down-enter, .slide-in-down-leave-active{
  opacity: 0;
  transform: translate3d(0, 10%, 0);
}

.slide-in-right-enter-active, .slide-in-right-leave-active{
  transition: all 0.2s linear;
}
.slide-in-right-enter, .slide-in-right-leave-active{
  transform: translate3d(100%, 0, 0);
  opacity: 0;
}

.slide-in-up-enter-active, .slide-in-up-leave-active{
  transition: transform 0.2s ease-in-out;
}
.slide-in-up-enter, .slide-in-up-leave-active{
  transform: translate3d(0, -20%, 0);
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

@keyframes fadeOutLeft {
  from {
    opacity: 1;
    transform: none;
  }

  to {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
  }
}

.fast-fade-enter, .fast-fade-leave-active
  opacity 0
.fast-fade-enter-active, .fast-fade-leave-active
  transition opacity 0.15s ease-in

@keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes slidetounlock {
  0% {
    left: 0;
  }
  100% {
    left: 100%;
  }
}

@keyframes zoomInBig {
  from {
    opacity: 1;
  }

  100% {
    opacity: 0;
    transform: scale(3.3, 3.3);
  }
}

.starStatusSwitch-enter-active {
  animation-name: zoomInBig;
  animation-duration: 0.5s;
  animation-fill-mode: both;
}

@keyframes fadeOutDown {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }
}

.fadeOutDown-enter-active {
//animation-name: fadeOutDown;
//animation-duration: 0.5s;
//animation-fill-mode: both;
}

.starStatusSwitch-leave-active {
  animation-name: fadeOutDown;
  animation-duration: 0.5s;
  animation-fill-mode: both;
}
