.vc-tooltip-c
  position fixed
  background rgba(0, 0, 0, 0.8)
  color #fff
  font-size 12px
  height 24px
  line-height 24px
  padding 0 8px
  border-radius 3px
  display none
  opacity 0
  z-index 20
  transition opacity 0.15s linear, transform 0.15s linear
  transform translate3d(0, -5px, 0)
  font-style: normal
  &:after
    display none
    position absolute
    border 6px solid transparent
    border-top-color rgba(0, 0, 0, 0.8)
    content ""
    top 100%
    left 50%
    margin-left -6px
.vc-tooltip-cal
  .vc-tooltip-c
    display block
    &:after
      display block
.vc-tooltip-show
  .vc-tooltip-c
    opacity 1
    transform none
